{% extends 'expense_manager/expense_manager_base_layout.html' %}
{% block head%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
             window.onload = function() {
             $("#id_portfolio").focus();

            };
        });
</script>
{% endblock %}

{% block content %}
    <h2>Add/Edit Expenses</h2>
    <form class="w3-third w3-container" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="w3-container w3-margin">
            <input type="submit" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge" value="Save Expense">
        </div>
        <a href="{% url 'addFile' %}">Load batch From File</a>
    </form>
{% endblock %}